h1{
    color: rgb(0, 0, 0);
    
    font-size: 60px;
    
}
p{
    font-size: 20px;
    color : green;
   
}
label { display:block;
margin-top: 10px;
margin-bottom:5px;
}

input{
    margin-bottom: 10px;

}

button{
display: block;
    margin-top:20px;
    background-color: #0891b2;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}

.cuadroizquierdo{
background:lightgray ;
    text-align:left;
    padding : 70px;
    flex:1;
}

.cuadroderecho{
    text-align: center;
    flex:1;
} 

section{
    display:flex;
    min-height: 100vh;
}


body{
    margin:0;
}

